html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container{
  padding: 0;
  max-width: 95%;
}
.v-application {
  background-color: #f5f5f5;
}

.v-container {
  padding: 16px;
}

.v-card {
  margin-bottom: 16px;
}

.v-toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.v-divider {
  height: 28px;
  margin: 0 8px;
}
.v-data-table {
  width: 100%;
}

.v-toolbar {
  flex-wrap: nowrap;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 1.25rem;
  flex: 1 1 auto;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-text-field,
.v-select,
.v-menu {
  flex: 1 1 auto;
  margin: 8px;
  max-width: 220px;
}

.no-pay {
  background-color: #fbecec;
}

@media (max-width: 600px) {
  .v-toolbar {
    flex-wrap: wrap;
  }

  .filters {
    flex-wrap: wrap;
  }

  .v-text-field,
  .v-select,
  .v-menu {
    max-width: 100%;
    margin: 4px 0;
  }

  .v-card-title {
    flex-direction: column;
  }

  .v-toolbar-title {
    font-size: 1.25rem;
  }

  .v-divider {
    height: 24px;
  }
}
